body{
    background-color: black;
    color: #343434;
    /* font-size: 4vh; */
    font-weight: bold;
    font-style: normal;
    font-family: Arial;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.display_content{
    display: flex;
    gap: 5px;
    font-size: 50vh;
}

.AMPM{
    margin-left: 5px;
    font-size: 15px;
    margin-top: auto;
    margin-bottom: 4%;
}

#fullscreenicon{
    position: absolute;
    left: 0;
    cursor: pointer;
}

.displayDay{
    font-size: 20vh;
}